{% extends 'base.html' %}
{% block title %} Post {% endblock title %}
{% block body %}
{% load humanize %}
<style>
    .comment_box {
    border: none;
    height: 50px;
    border-radius: 0px;
    border-bottom: 2px solid #ff0000;
}

.comment_submit {
    background-color: #000066;
    color: #fff;
    border: none;
    border-radius: 20px;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.18);
    width: 150px;
}
</style>
<br>
<br>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="card post_card">
                        <div class="card-body">
        
                            <h2 class="blog-post-title"><i>{{post.title}}</i></h2>
                            <p class="blog-post-meta">{{post.timeStamp}} by <a>{{post.publisher}}</a></p>
                            <hr>
                            <br>
                            <h6>{{post.content | safe}}</h6>
                            <br> 
                            <h3>Want this Post in Your Inbox?</h3>
                            <form action='/posts/emailme' method='post'>
    {% csrf_token %}
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <i class="fas fa-email"></i>
        </div>
        <input type="text" class="form-control  comment_box" name="uemail" placeholder="Enter Email Here"> 
    </div>
    <button type="submit" class="comment_submit btn-lg" >Send Mail!</button> 
</form>
                            {% if user.is_authenticated %}
                            <h3>Comment Your Queries!!!</h3>
                            <form action="/posts/postComment" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="text" class="form-control comment_box" name="comment" placeholder="Comment something">
                                </div>
                                <input type="hidden" name="postSno" value="{{post.sno}}">
                                <button type="submit" class="comment_submit btn-lg">Submit</button>
                            </form>
{% else %}
Please Login to comment
{% endif %}
<div class="row">
    <div class="col-md-12">
        <h3>Comments ({{comments.count}})</h3>

    </div>
</div>

{% for comment in comments %}
    <div class="row">
        <div class="col-md-12">
            <h5><i class="fas fa-user-alt"></i> &nbsp; <b> {{comment.user.username}} </b> at {{comment.timeStamp | naturaltime}} </h5>
            <hr>
            <h6>{{comment.comment}}</h6>
        </div>
    </div>
{% endfor %}
</div>
</div>
</div>
</div>
</div>
<br>

{% endblock body %}




