{% extends 'base.html' %}
{% block title %} PostHome {% endblock title %}





{% block homeactive %}active{% endblock homeactive %}
{% block body %}

<style>
.popular_posts {
    border-radius: 20px;
    padding: 20px;
    border: none;
    box-shadow: 0px 0px 8px 4px rgba(0,0,0,0.18);
}

.pop_post_hr {
    border: 2px solid #000066;
    margin-top: 25px;
    width: 25%;
}

.btn-info {
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;
}
</style>

<div class="container my-3">

<h2 style="padding-top: 20px;"><i class="fas fa-fire"></i> &nbsp; All Posts</h2>
{% for post in allPosts  %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <hr>
                    <br>
                    <div class="card popular_posts">
                        <div class="card-body">
                            <h6>Publsihed by {{post.publisher}} </h6>
                            <h4 class="card-title">{{post.title}}</h4>
                            <hr class="pop_post_hr" align="left">
                            <br>
                            <p class="card-text">
                            <div class="preview">{{post.content| safe |truncatechars:300}}</div></p>
                            <br>
                            <a href="{{post.slug}}" class="btn btn-info">Continue reading</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
       
        {% endfor %}

      
{% endblock body %}




