{% extends 'base.html' %}
{% block title %} Register {% endblock title %}
{% block body %}

       <style>
            body {
                background-image: url("media/util.jpg");
                background-size: cover;
                margin-bottom: 50px !important;
            }

            ::placeholder {
                color: #fff !important;
            }

            .fa-user {
                color: #fff;
            }

            .fa-phone-alt {
                color: #fff;
            }

            .fa-envelope {
                color: #fff;
            }

            .fa-university {
                color: #fff;
            }

            .fa-unlock-alt {
                color: #fff;
            }

            input:focus { 
                outline: none !important;
                background-color: rgba(255, 255, 255, 0) !important;
                color: #fff !important;
            }
        </style>
  <div class="container">
            <div class="row">
                <div class="card login_card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img src="media/register.png" alt="Card image" style="width:100%">
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                        <div class="row">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <h2 align="center">REGISTER</h2>
                                <hr class="login_hr">
                                <br>
                                <form action='/handleregister' method='post'>
                                {% csrf_token %}
                                 <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input type="text" class="form-control login_form"
                                        name="uname"  placeholder="Username">
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-user"></i>
                                        </div>
                                        <input type="text" class="form-control login_form"
                                        name="name"  placeholder="Your Name">
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                        <input type="text" class="form-control login_form" name="contact" placeholder="Contact Number">
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <input type="text" class="form-control login_form" name="email" placeholder="Email ID">
                                    </div>
                                    <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-university"></i>
                                        </div>
                                        <input type="text" class="form-control login_form" name="college"placeholder="College / University">
                                    </div>
                                                                        <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-unlock-alt"></i>
                                        </div>
                                        <input type="text" class="form-control login_form" name="password1" placeholder="Password">
                                    </div>
                                                                        <br>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <i class="fas fa-unlock-alt"></i>
                                        </div>
                                        <input type="text" class="form-control login_form" name="password2"placeholder="Password Again">
                                    </div>
                                    <br>
                                    <button type="submit" class="btn btn-success btn-lg btn-block">Register</button>
                                </form>
                            </div>
                            <div class="col-md-3"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock body %}

